<!-- =========================Footer========================= -->
<footer>
	<div class="row">
		<div class="col-sm-6">
			<p class="no-margin">
				&copy; 2014 <strong>My Assets</strong>. ALL Rights Reserved. 
			</p>
		</div><!-- /.col -->
	</div><!-- /.row-->
</footer>