<div class="main-header clearfix">
	<div class="page-title">
		<h3 class="no-margin">Dashboard</h3>
		<span>Welcome back <%= current_user.name %></span>
	</div><!-- /page-title -->

	<ul class="page-stats">
  	<li>
  		<div class="value">
  			<span>Total assets (gram)</span>
  			<h4 id="currentVisitor"><%= current_user.items.sum(:quantity) %></h4>
  		</div>
		<span id="visits" class="sparkline"></span>
  	</li>
  	<li>
  		<div class="value">
  			<span>Current Assets Value</span>
  			<h4><strong id="currentBalance"><%= to_price total_assets %></strong></h4>
  		</div>
  		<span id="balances" class="sparkline"></span>
  	</li>
  </ul><!-- /page-stats -->
</div><!-- /main-header -->